 
 <div class="row">
        <div class="col-2">
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" routerLink="" role="tab" aria-controls="home">Produt CRUD</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" routerLink="calc" role="tab" aria-controls="profile">calculator</a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" routerLink="Assignment3" role="tab" aria-controls="messages">Assignment 3</a>
            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" routerLink="Assignment4" role="tab" aria-controls="settings">Assignment 4</a>
          </div>
        </div>
        <div class="col-8">
          <div class="tab-content" id="nav-tabContent">
              <router-outlet></router-outlet>           
          </div>
        </div>
    </div>
<!-- <div class="container">
    <app-product [productsComponent]="productsComponent"></app-product>
</div>

<div class="container">
    <app-products #productsComponent></app-products>
</div> -->