
<form #productForm="ngForm">
    <div class="frow">
      <div class="form-group col-md-6">
        <label >Name</label>
        <input type="email" required class="form-control" [(ngModel)]="product.name" id="inputEmail4" placeholder="name" #pName="ngModel" name="name">
      </div>
      <div class="form-group col-md-6 alert alert-danger" role="alert" [hidden]="!pName.touched || pName.valid">
        Name is required
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Description</label>
      <input type="text" required class="form-control" id="inputAddress" [(ngModel)]="product.description" placeholder="1234 Main St" #description="ngModel" name="description">
      <div class="form-group col-md-6 alert alert-danger" role="alert"  [hidden]="!description.touched || description.valid">
        Description is required
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Price</label>
        <input type="text" required class="form-control" id="inputCity" [(ngModel)]="product.price" name="price" #price="ngModel">
        <div class="form-group col-md-6 alert alert-danger" role="alert" [hidden]="!price.touched || price.valid">
            Price is required
          </div>
    </div>
      <div class="form-group col-md-4">
        <label for="inputState">Rating</label>
        <select id="inputState"  class="form-control" [(ngModel)]="product.averageRatings" name="averageRatings">
          <option selected>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Model</label>
        <input type="text"  class="form-control" id="inputZip" [(ngModel)]="product.model" name="model">
      </div>
    </div>
  
    <button type="submit" class="btn btn-primary" [disabled]="!productForm.form.valid" (click)="save()" >Add product</button>
  </form>
