<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Model</th>
        <th scope="col">Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">          
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price}}</td>
        <td>{{product.model}}</td>
        <td>{{product.averageRatings}}</td>
      </tr>      
    </tbody>
  </table>
  